.flex-center-start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: start;
}
.header-area .main-header-area.sticky {
  background-image: linear-gradient(to left, #ffffff, #ffff);
  background: -moz-linear-gradient(left, #ffffff 0%, #3c35ce 100%);
  background: -webkit-linear-gradient(left, #ffffff 0%, #3c35ce 100%);
  background: linear-gradient(to right, #ffffff 0%, #ffffff, 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a64eee',endColorstr='##0070ff',GradientType=1 );
}
body {
  font-family: crimson text, serif;
  font-weight: 400;
  font-style: normal;
}
.img {
  max-width: 100%;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
a,
.button {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
a:focus,
.button:focus,
button:focus {
  text-decoration: none;
  outline: none;
}
a:focus {
  text-decoration: none;
}
a:focus,
a:hover,
.portfolio-cat a:hover,
.footer -menu li a:hover {
  text-decoration: none;
}
a,
button {
  color: #1f1f1f;
  outline: medium;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: poppins, sans-serif;
  color: #2e004b;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
p {
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  color: #919191;
  margin-bottom: 13px;
  font-family: crimson text, serif;
}
label {
  color: #7e7e7e;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
}
*::-moz-selection {
  background: #444;
  color: #fff;
  text-shadow: none;
}
::-moz-selection {
  background: #444;
  color: #fff;
  text-shadow: none;
}
::selection {
  background: #444;
  color: #fff;
  text-shadow: none;
}
*::-webkit-input-placeholder {
  color: #ccc;
  font-size: 14px;
  opacity: 1;
}
*:-ms-input-placeholder {
  color: #ccc;
  font-size: 14px;
  opacity: 1;
}
*::-ms-input-placeholder {
  color: #ccc;
  font-size: 14px;
  opacity: 1;
}
*::placeholder {
  color: #ccc;
  font-size: 14px;
  opacity: 1;
}
h3 {
  font-size: 24px;
}
.mb-65 {
  margin-bottom: 67px;
}
.black-bg {
  background: #020c26 !important;
}
.white-bg {
  background: #fff;
}
.gray-bg {
  background: #f5f5f5;
}

.overlay {
  position: relative;
  z-index: 0;
}
.overlay::before {
  position: absolute;
  content: "";
  background-color: #000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.5;
}
.overlay2 {
  position: relative;
  z-index: 0;
}
.overlay2::before {
  position: absolute;
  content: "";
  background-color: #2e004b;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.6;
}
.section-padding {
  padding-top: 120px;
  padding-bottom: 120px;
}
.pt-120 {
  padding-top: 120px;
}
.owl-carousel .owl-nav div {
  background: 0 0;
  height: 54px;
  left: 150px;
  line-height: 54px;
  position: absolute;
  text-align: center;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 54px;
  font-size: 25px;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  left: 50px;
  font-size: 18px;
  line-height: 54px;
  font-size: 20px;
  line-height: 54px;
  color: #fff;
  left: 150px;
}
.owl-carousel .owl-nav div.owl-next {
  left: auto;
  right: 150px;
}
.owl-carousel .owl-nav div.owl-next i {
  position: relative;
  right: 0;
  top: 1px;
}
.owl-carousel .owl-nav div.owl-prev i {
  position: relative;
  right: 1px;
  top: 0;
}
.owl-carousel:hover .owl-nav div {
  opacity: 1;
  visibility: visible;
}
.owl-carousel:hover .owl-nav div:hover {
  color: #fff;
  background: #1f1f1f;
}
.mb-20px {
  margin-bottom: 20px;
}
.mb-90 {
  margin-bottom: 90px;
}
@media (max-width: 767px) {
  .mb-90 {
    margin-bottom: 30px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .mb-90 {
    margin-bottom: 45px;
  }
}
.boxed-btn {
  background: #fff;
  color: #04d2c8;
  display: inline-block;
  padding: 18px 44px;
  font-family: poppins, sans-serif;
  font-size: 14px;
  font-weight: 400;
  border: 0;
  border: 1px solid #04d2c8;
  letter-spacing: 3px;
  text-align: center;
  color: #04d2c8 !important;
  text-transform: uppercase;
  cursor: pointer;
}
.boxed-btn:hover {
  background: #04d2c8;
  color: #fff !important;
  border: 1px solid #04d2c8;
}
.boxed-btn:focus {
  outline: none;
}
.boxed-btn.large-width {
  width: 220px;
}
.boxed-btn3 {
  background: #1f1f1f;
  color: #fff;
  display: inline-block;
  padding: 12px 27px;
  font-family: poppins, sans-serif;
  font-size: 16px;
  font-weight: 400;
  border: 0;
  border: 1px solid #1f1f1f;
  text-align: center;
  color: #fff !important;
  text-transform: capitalize;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}
.boxed-btn3:hover {
  background: #fff;
  color: #1f1f1f !important;
  border: 1px solid #1f1f1f;
}
.boxed-btn3:focus {
  outline: none;
}
.boxed-btn3.large-width {
  width: 220px;
}
.boxed-btn2 {
  background: 0 0;
  color: #fff;
  display: inline-block;
  padding: 18px 24px;
  font-family: poppins, sans-serif;
  font-size: 14px;
  font-weight: 400;
  border: 0;
  border: 1px solid #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.boxed-btn2:hover {
  background: #fff;
  color: #131313 !important;
}
.boxed-btn2:focus {
  outline: none;
}
.line-button {
  color: #919191;
  font-size: 16px;
  font-weight: 400;
  display: inline-block;
  position: relative;
  padding-right: 5px;
  padding-bottom: 2px;
}
.line-button::before {
  position: absolute;
  content: "";
  background: #919191;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
}
.line-button:hover {
  color: #009dff;
}
.line-button:hover::before {
  background: #009dff;
}
.book_now {
  display: inline-block;
  font-size: 14px;
  color: #009dff;
  border: 1px solid #009dff;
  text-transform: capitalize;
  padding: 10px 25px;
}
.book_now:hover {
  background: #009dff;
  color: #fff;
}
.boxed_btn {
  cursor: pointer;
  font-size: 16px;
  color: #fff;
  padding: 17px 50px;
  background: #04d2c8;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  border: 1px solid transparent;
  display: inline-block;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.boxed_btn:hover {
  background: 0 0;
  color: #04d2c8;
  border: 1px solid #04d2c8;
  color: #04d2c8 !important;
}
.boxed_btn_rev {
  cursor: pointer;
  font-size: 16px;
  color: #fff;
  padding: 17px 50px;
  background: 0 0;
  color: #04d2c8;
  border: 1px solid #04d2c8 !important;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  border: 1px solid transparent;
  display: inline-block;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.boxed_btn_rev:hover {
  color: #fff !important;
  background: #04d2c8 !important;
}
.boxed_btn_orange {
  cursor: pointer;
  font-size: 16px;
  color: #fff;
  padding: 12px 30px;
  background: #ff5e00;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  border: 1px solid transparent;
  display: inline-block;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.boxed_btn_orange:hover {
  background: 0 0;
  color: #fdae5c;
  border: 1px solid #fdae5c;
  color: #fdae5c !important;
}
.boxed_btn_orange2 {
  cursor: pointer;
  font-size: 16px;
  color: #fff;
  padding: 12px 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  border: 1px solid transparent;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  background: 0 0;
  color: #fdae5c;
  border: 1px solid #fdae5c;
  display: inline-block;
}
.boxed_btn_orange2:hover {
  color: #fff !important;
  background: #fdae5c;
}
.section_title h3 {
  font-size: 46px;
  font-weight: 400;
  line-height: 52px;
  margin-bottom: 23px;
  color: #1f1f1f;
}
@media (max-width: 767px) {
  .section_title h3 {
    font-size: 23px;
    line-height: 30px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .section_title h3 {
    font-size: 32px;
    line-height: 40px;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .section_title h3 {
    font-size: 33px;
    line-height: 40px;
  }
}
.section_title p {
  font-size: 17px;
  font-family: crimson text, serif;
  font-weight: 400;
  line-height: 28px;
  color: #727272;
  margin-bottom: 0;
}
@media (max-width: 767px) {
  .section_title p br {
    display: none;
  }
}
.mb-100 {
  margin-bottom: 100px;
}
@media (max-width: 767px) {
  .mb-100 {
    margin-bottom: 40px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .mb-100 {
    margin-bottom: 40px;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .mb-100 {
    margin-bottom: 60px;
  }
}
@media (max-width: 767px) {
  .mobile_menu {
    position: absolute;
    right: 0;
    width: 100%;
    z-index: 9;
  }
}
.slicknav_menu .slicknav_nav {
  background: #fff;
  float: right;
  margin-top: 0;
  padding: 0;
  width: 95%;
  padding: 0;
  border-radius: 0;
  margin-top: 5px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 11px;
}
.slicknav_menu .slicknav_nav a:hover {
  background: 0 0;
  color: #4a3600;
}
.slicknav_menu .slicknav_nav a.active {
  color: #4a3600;
}
@media (max-width: 767px) {
  .slicknav_menu .slicknav_nav a i {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .slicknav_menu .slicknav_nav a i {
    display: none;
  }
}
.slicknav_menu .slicknav_nav .slicknav_btn {
  background-color: transparent;
  cursor: pointer;
  margin-bottom: 10px;
  margin-top: -40px;
  position: relative;
  z-index: 99;
  border: 1px solid #ddd;
  top: 3px;
  right: 5px;
  top: -32px;
}
.slicknav_menu .slicknav_nav .slicknav_btn .slicknav_icon {
  margin-right: 6px;
  margin-top: 3px;
  position: relative;
  padding-bottom: 3px;
  top: -11px;
  right: -5px;
}
@media (max-width: 767px) {
  .slicknav_menu {
    margin-right: 0;
  }
}
.slicknav_nav .slicknav_arrow {
  float: right;
  font-size: 22px;
  position: relative;
  top: -9px;
}
.slicknav_btn {
  background-color: transparent;
  cursor: pointer;
  margin-bottom: 10px;
  position: relative;
  z-index: 99;
  border: none;
  border-radius: 3px;
  top: 5px;
  padding: 5px;
  right: 5px;
  margin-top: -5px;
  top: -31px;
}
.slicknav_btn {
  background-color: transparent;
  cursor: pointer;
  margin-bottom: 10px;
  position: relative;
  z-index: 99;
  border: none;
  border-radius: 3px;
  top: 5px;
  padding: 5px;
  right: 0;
  margin-top: -5px;
  top: -32px;
}
.header-area {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  top: 0;
  z-index: 99;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
@media (max-width: 767px) {
  .header-area {
    padding-top: 0;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .header-area {
    padding-top: 0;
  }
}
.header-area .main-header-area {
  padding: 0 150px;
}
@media (max-width: 767px) {
  .header-area .main-header-area {
    padding: 10px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .header-area .main-header-area {
    padding: 10px;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .header-area .main-header-area {
    padding: 0 20px;
  }
}
@media (min-width: 1200px) and (max-width: 1500px) {
  .header-area .main-header-area {
    padding: 0 10px;
  }
}
.header-area .main-header-area .logo-img {
  text-align: center;
}
@media (max-width: 767px) {
  .header-area .main-header-area .logo-img {
    text-align: left;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .header-area .main-header-area .logo-img {
    text-align: left;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .header-area .main-header-area .logo-img {
    text-align: left;
  }
}
.header-area .main-header-area .book_room {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  -ms-justify-content: flex-end;
  justify-content: flex-end;
  -ms-flex-pack: flex-end;
}
.header-area .main-header-area .book_room .socail_links ul li {
  display: inline-block;
}
.header-area .main-header-area .book_room .socail_links ul li a {
  color: #a8a7a0;
  margin: 0 10px;
  font-size: 15px;
}
.header-area .main-header-area .book_room .socail_links ul li a:hover {
  color: #fff;
}
.header-area .main-header-area .book_room .book_btn {
  margin-left: 30px;
}
.header-area .main-header-area .book_room .book_btn a {
  background: 0 0;
  font-size: 16px;
  font-weight: 400;
  border: 1px solid #fff;
  color: #fff;
  padding: 14px 20px;
}
.header-area .main-header-area .book_room .book_btn a:hover {
  background: #fff;
  color: #000 !important;
  border: 1px solid #fff;
}
.header-area .main-header-area .main-menu {
  text-align: center;
}
.header-area .main-header-area .main-menu ul li {
  display: inline-block;
  position: relative;
  margin-right: 50px;
}
@media (min-width: 992px) and (max-width: 1200px) {
  .header-area .main-header-area .main-menu ul li {
    margin-right: 20px;
  }
}
@media (min-width: 1200px) and (max-width: 1500px) {
  .header-area .main-header-area .main-menu ul li {
    margin-right: 15px;
  }
}
.header-area .main-header-area .main-menu ul li a {
  color: #fff;
  font-size: 16px;
  text-transform: capitalize;
  font-weight: 400;
  display: inline-block;
  padding: 34px 0;
  font-family: poppins, sans-serif;
  position: relative;
  text-transform: capitalize;
}
@media (min-width: 992px) and (max-width: 1200px) {
  .header-area .main-header-area .main-menu ul li a {
    font-size: 15px;
  }
}
@media (min-width: 1200px) and (max-width: 1500px) {
  .header-area .main-header-area .main-menu ul li a {
    font-size: 15px;
  }
}
.header-area .main-header-area .main-menu ul li a i {
  font-size: 9px;
}
@media (max-width: 767px) {
  .header-area .main-header-area .main-menu ul li a i {
    display: none !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .header-area .main-header-area .main-menu ul li a i {
    display: none !important;
  }
}
.header-area .main-header-area .main-menu ul li a::before {
  position: absolute;
  content: "";
  background: #04d2c8;
  width: 100%;
  height: 3px;
  bottom: -1px;
  left: 0;
  opacity: 0;
  z-index: 9;
  transform: scaleX(0);
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.header-area .main-header-area .main-menu ul li a:hover::before {
  opacity: 1;
  transform: scaleX(1);
}
.header-area .main-header-area .main-menu ul li a.active::before {
  opacity: 1;
  transform: scaleX(1);
}
.header-area .main-header-area .main-menu ul li a:hover {
  color: #fff;
}
.header-area .main-header-area .main-menu ul li .submenu {
  position: absolute;
  left: 0;
  top: 140%;
  background: #fff;
  width: 200px;
  z-index: 2;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.02);
  opacity: 0;
  visibility: hidden;
  text-align: left;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
}
.header-area .main-header-area .main-menu ul li .submenu li {
  display: block;
}
.header-area .main-header-area .main-menu ul li .submenu li a {
  padding: 10px 15px;
  position: inherit;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  display: block;
  color: #000;
}
.header-area .main-header-area .main-menu ul li .submenu li a::before {
  display: none;
}
.header-area .main-header-area .main-menu ul li .submenu li:hover a {
  color: #000;
}
.header-area .main-header-area .main-menu ul li:hover > .submenu {
  opacity: 1;
  visibility: visible;
  top: 100%;
}
.header-area .main-header-area .main-menu ul li:hover > a::before {
  opacity: 1;
  transform: scaleX(1);
}
.header-area .main-header-area .main-menu ul li:first-child a {
  padding-left: 0;
}
.header-area .main-header-area.sticky {
  box-shadow: 0 3px 16px 0 rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  top: -11vh;
  left: 0;
  right: 0;
  z-index: 999;
  transform: translateY(70px);
  transition: transform 500ms ease, background 500ms ease;
  -webkit-transition: transform 500ms ease, background 500ms ease;
  box-shadow: 0 3px 16px 0 rgba(0, 0, 0, 0.1);
  padding: 0 150px;
}
@media (max-width: 767px) {
  .header-area .main-header-area.sticky {
    padding: 10px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .header-area .main-header-area.sticky {
    padding: 10px;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .header-area .main-header-area.sticky {
    padding: 0 20px;
  }
}
@media (min-width: 1200px) and (max-width: 1500px) {
  .header-area .main-header-area.sticky {
    padding: 0 20px;
  }
}
.header-area .main-header-area.sticky .main-menu {
  padding: 0;
}
.header-area .log_chat_area {
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  -ms-justify-content: flex-end;
  justify-content: flex-end;
  -ms-flex-pack: flex-end;
}
.header-area .log_chat_area .login {
  font-size: 16px;
  margin-right: 50px;
  text-transform: capitalize;
  color: #fff;
}
@media (min-width: 992px) and (max-width: 1200px) {
  .header-area .log_chat_area .login {
    margin-right: 7px;
  }
}
.header-area .log_chat_area .login i {
  color: #fff;
  padding-right: 12px;
}
.header-area .log_chat_area .login span {
  font-size: 16px;
}
.header-area .log_chat_area .live_chat_btn a {
  color: #fff;
}
@media (min-width: 992px) and (max-width: 1200px) {
  .header-area .log_chat_area .live_chat_btn a {
    padding: 12px;
    font-size: 13px;
  }
}
@media (min-width: 1200px) and (max-width: 1500px) {
  .header-area .log_chat_area .live_chat_btn a {
    font-size: 13px;
    padding: 12px 25px;
  }
}
.header-area .log_chat_area .live_chat_btn a i {
  padding-right: 7px;
}
